@import url(/css/global.css);

p.box {
  padding: 20px; /* Padding inside the box */
  width: 600px;
  height: auto;
  max-height: calc(1.2em * 12);
  overflow: hidden;
  text-overflow: ellipsis;
  position: fixed;
  top: 50px;
  right: 50px;
  z-index: 1000;
  line-height: 1.2em;
}

.founders {
  width: 25%;
  height: auto;
  display: block;
  position: absolute;
  top: 27%;
  left: 27%;
}

#bgvideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
  background-color: #b4f144;
}
.bgfilter {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #b4f144;
  opacity: 16%;
  z-index: 0;
}

.sewer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

/* KONTAKTFORMULAR */

.contact-form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-150%, -20%);
  padding: 20px;
  display: none;
}
.contact-form {
  width: 300px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* PLACERING AF H1'ERE */

.cloud {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.tag-cloud {
  position: relative;
  width: 100%;
  height: 100%;
}

.tag {
  position: absolute;
}

.tag:hover {
  color: #ff0000;
}

.what {
  top: 20%;
  left: 5%;
}

.contact {
  top: 65%;
  left: 60%;
}
