/* This page is for global components and css variables */
* {
  padding: 0;
  margin: 0;
}

:root {
  /* Colors */

  /* text, iconer */
  --colorGreen: #b4f144;

  /* */
  --colorDark: #000b11;

  /* navigation og andre baggrunds elementer */
  --colorDarkGrey: #1c1e20;

  /* Diverse */
  --colorDarkGreen: #00472b;

  /* Font family */
  --overskrifter: "Inknut Antiqua", serif;

  /* Font Size */
  /*  Vi kan ikke finde enhedstypen i figma ergo skal disse størrelser ændres senere i processen. */
  --h1: 3.5em;
  --h2: 2.5em;
  --p: 1.5em;

  /* Font Weight */
  --regular: 400;
  --bold: 800;

  /* BACKGROUND PICTURE */
  --backgroundpicture: url(/assets/video/AdobeStock_726300964.mov);
  --backgroundfilter: rgb(180, 241, 68, 60%);
}

/* GLOBAL CSS VAR USAGE */
h1 {
  font-family: var(--overskrifter);
  font-size: var(--h1);
  font-weight: var(--regular);
  color: var(--colorGreen);
}

h2 {
  font-family: var(--overskrifter);
  font-size: var(--h2);
  color: var(--colorGreen);
}

p {
  font-family: var(--paragrahptext);
  font-size: var(--p);
  color: var(--colorGreen);
}

/* GLOBAL COMPONENT */

/* HEADER */
header {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

#vertikal {
  background-color: rgba(28, 30, 32, 0.84);
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  width: 50px;
  justify-content: space-between;
}

#vertikal li {
  width: 100%;
  rotate: 90deg;
  margin-bottom: 50px;
}

#vertikal li a {
  display: block;
  color: #b4f144;
  padding: 16px;
  text-align: right;
  text-decoration: none;
  z-index: 1001;
}
