/* This page is for global components and css variables */
* {
    padding: 0;
    margin: 0;
}

:root {
    /* Colors */

    /* text, iconer */
    --colorGreen: #B4F144;

    /* */
    --colorDark: #000B11;

    /* navigation og andre baggrunds elementer */
    --colorDarkGrey: #1C1E20;

    /* Diverse */
    --colorDarkGreen: #00472B;

    /* Font family */
    --overskrifter: "Road Rage", sans-serif;
    --paragrahptext: "Special Elite", system-ui;

    /* Font Size */
    /*  Vi kan ikke finde enhedstypen i figma ergo skal disse størrelser ændres senere i processen. */
    --h1: 3.5em;
    --h2: 2.5em;
    --p: 1.5em;

    /* Font Weight */
    --regular: 400;
    --bold: 800;


    /* BACKGROUND PICTURE */
    --backgroundpicture: url();
}

/* GLOBAL CSS VAR USAGE */
h1 {
    font-family: var(--overskrifter);
    font-size: var(--h1);
    font-weight: var(--regular);
}

h2 {
    font-family: var(--overskrifter);
    font-size: var(--h2);
}

p {
    font-family: var(--paragrahptext);
    font-size: var(--p);
}

/* GLOBAL COMPONENT */