@import url(/css/global.css);


.page-index {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    background-color: #b4f144;

    & > * {
        grid-area: 1 / 1;
    }

    video {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .bgfilter {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: #b4f144;
        opacity: 16%;
        z-index: 0;
      }
    
    .logo {
        z-index: 3;
        place-self: center;
    }
    .video-zoomie {
        animation: zoomie 10s infinite alternate running linear;
        transform-origin: center;
    }
}

@keyframes zoomie {
    from {
        scale: 1;
    }
    to {
        scale: 0.2;
    }
}
