/* Projects page testing    https://bennettfeely.com/clippy/*/
* {
    /* outline: dashed 1px red; */
}

#test {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

#video1 {
    background-color: aqua;
    clip-path: polygon(0 0, 0% 100%, 100% 0);

    grid-column: 1/7;
    grid-row: 1/7;
    z-index: 5;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.item_1 {
    grid-column: 3/4;
    grid-row: 3/4;
    z-index: 1;

    align-self: auto;
}

.item_2 {
    grid-column: 1/-1;
    grid-row: 1/-1;
}

#video2 {
    background-color: aquamarine;

    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 24%);

    grid-column: 4/-1;
    grid-row: 1/7;
    z-index: 4;
}

#video3 {
    background-color: rgb(162, 185, 185);

    clip-path: polygon(52% 10%, 100% 100%, 0 100%, 0 33%);

    grid-column: 1/5;
    grid-row: 4/-1;
    z-index: 3;
}

#video4 {
    background-color: rgb(34, 172, 172);

    grid-column: 1/-1;
    grid-row: 1/-1;
    z-index: 1;
}

#video5 {
    background-color: rgb(26, 116, 116);

    clip-path: polygon(100% 33%, 100% 100%, 0 100%, 50% 16%);

    grid-column: 8/-1;
    grid-row: 4/-1;
    z-index: 2;
}